= simple_form_for([:admin,@item]) do |f|
  = f.input :name
  = f.input :description
  = f.input :dimensions
  = f.input :dating
  = f.input :provenance
  = f.input :signed
  = f.input :price
  = f.input :inventory, label: "Inventory - Amount in stock"
  = f.association :collection
  = f.input :note, input_html: { style: 'height: 180px' }
  = f.submit "Save", :class => 'btn'