.items.index
  .row
    .sidebar.span2
      %ul.nav.nav-list
        %li= link_to 'All', root_path
        %li.nav-header Jewelry
        - Collection.jewelry.each do |collection|
          %li= link_to collection.name, "/collection/#{collection.id}"
        %li.nav-header Antiques
        - Collection.antique.each do |collection|
          %li= link_to collection.name, "/collection/#{collection.id}"
    .main.span10
      %h1= @collection.try(:name).presence || "The Hartman Gallery"
      #pinterest
        - @items.each do |item|
          .item
            = image_tag item.images.first.file.url(:medium) if item.images.any?
            .caption
              %h5= item.name
              %p= item.description.capitalize!
              = link_to 'More info', item, :class => 'btn btn-primary'



:javascript
  $(document).ready(function() {
    trigger_pinterest();
  });