.items.index
  .row
    .sidebar.span2
      %ul.nav.nav-list
        %li= link_to 'All', root_path
        %li.nav-header Jewelry
        - Collection.jewelry.each do |collection|
          %li= link_to collection.name, "/collection/#{collection.id}"
        %li.nav-header Antiques
        - Collection.antique.each do |collection|
          %li= link_to collection.name, "/collection/#{collection.id}"
    .main.span10
      %h1= @collection.try(:name).presence || "The Hartman Gallery"
      #pinterest= render @items
      .row= will_paginate @items


:javascript
  $(window).load(function() {
    trigger_pinterest();
  });