.items.show
  .row
    .span2
      %h5 Other #{@item.collection.name unless !@item.collection} Items
      - if @item.collection.present? && @item.collection.items.many?
        - @item.collection.items.each do |item|
          .sidebar_item
            = link_to (image_tag item.images.first.file.url(:thumb)), item
            .name= link_to item.name, item

      - else
        No similar items found.


    .span10
      .span6
        %h1
          - if @item.inventoryid?
            #{@item.name} ##{@item.inventoryid}
          - else
            = @item.name

        %p= @item.description.paragraphize

        - if @item.dimensions.present?
          %h3 Dimensions
          %p= @item.dimensions.paragraphize

        - if @item.dating.present?
          %h3 Dating
          %p= @item.dating.paragraphize

        - if @item.provenance.present?
          %h3 Provenance
          %p= @item.provenance.paragraphize

        - if @item.signed.present?
          %h3 Signed
          %p= @item.signed

        - if @item.note.present?
          %h3 Note
          %p= @item.note.paragraphize

      .span3.pricings
        - if !@item.price.nil?
          %h2= number_to_currency(@item.price)
          %p &nbsp;
          %p= link_to 'Purchase This Item', "/create_order/#{@item.id}", :class => 'btn btn-success btn-large'
          %p= link_to 'Place an Inquiry', "/create_inquiry/#{@item.id}", :class => 'btn'



      .span19
        .span9.image_gallery
          - if @item.images.any?
            - @item.images.each do |image|
              .image= image_tag image.file.url

:javascript
  $(window).load(function() {
    //$('.image_gallery').masonry({
      //itemSelector: '.image'
    //});
  });