.inquiries.new
  .row
    .span2
      %h3 Item Details
      .sidebar_item
        = image_tag @item.images.first.file.url(:thumb)
      %p
        %b Item Name:
        = @item.name
      %p
        %b Description:
        = @item.description.paragraphize
      %p
        %b Price:
        = number_to_currency(@item.price)
    .span9.offset1
      %h1 Inquire about: #{@item.name}
      %p Thanks for your inquiry. We will respond to it shortly.